# Git
.git
.gitignore

# Python
__pycache__/
*.pyc
.venv/
venv/

# Local env & secrets
.env

# Data / artifacts / caches
etl/data/
etl/.sheet_cache.json
# *.xlsm
*.xlsx
*.csv
*.parquet

# OS/editor noise
.DS_Store
Thumbs.db
.vscode/
.idea/
